/* スコアボードのスタイル */
.scoreboard-container {
    position: absolute; /* 他の要素に影響されない */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20%;
    display: flex;
    justify-content: center;
  }
  
  .scoreboard {
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .frame {
    width: 100%;
  }
  
  .score-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: #000;
  }
  
  h2 {
    margin: 0 0 10px;
  }
  
  p {
    margin: 5px 0;
  }
  